<section class="benefits section-spacing text-center" id="features">
  <div class="container">
    <header class="section-header">
      <h2>Main Benefits Of The Product</h2>
      <h3>Reasons why you should choose this product</h3>
    </header>
    <div class="row">
      <div class="col-sm-4"> <%= image_tag 'benefits-1.png' %>
        <h4>All-New Technology</h4>
        <p>Freshly built platform to optimize your online presence</p>
      </div>
      <div class="col-sm-4"> <%= image_tag 'benefits-2.png', alt: "benefits of product" %>
        <h4>Simple Setup and Activation</h4>
        <p>With one of our online experts</p>
      </div>
      <div class="col-sm-4"><%= image_tag 'benefits-3.png', alt: "benefits of product" %>
        <h4>New Customers</h4>
        <p>Keyword Intelligence that leads consumers to you</p>
      </div>
    </div>
  </div>
</section>