<div class="features section-spacing">
  <div class="container"> 
    
    <!--feature 1-->
    
    <div class="row">
      <div class="col-md-7 col-md-push-5 text-center"> <%= image_tag 'feature-1.png', alt: "feature" %> </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2>An Accurate, Professional Online Presence</h2>
          <p> We verify your location, your preferred contact phone number, and other essential information to connect your future customers to you, to what they are actually looking for, right when they need your business.</p>
        </article>
      </div>
    </div>

    <!--feature 1 end--> 
    
    <!--feature 2-->
    <div class="row">
      <div class="col-md-7 text-center"> <%= image_tag 'feature-2.png', alt: "feature" %> </div>
      <div class="col-md-5">
        <article>
          <h2> Powerful Management Tools for You, the Business Owner</h2>
          <p>Set and update the images, social media channels, products and services, and tags that best represent your business.  Our interface and platform make it simple and efficient to control, customize, and grow your presence. </p>
        </article>
      </div>
    </div>
    <!--feature 2 end--> 
    
    <!--feature 3-->
    <div class="row">
      <div class="col-md-7 col-md-push-5 text-center"> <%= image_tag 'feature-3.png', alt: "feature" %> </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2>Be Found In Our App and Everywhere Online</h2>
          <p>On all major mobile and web platforms, users can find your business with lightning-fast speed and targeting.  Whether using our application or searching elsewhere online, your listing is indexed and professionally represented everywhere.  </p>
        </article>
      </div>
    </div>
    <!--feature 3 end--> 
  </div>
</div>
