<section class="pricing section-spacing text-center" id="pricing">
  <div class="container">
    <header class="section-header">
      <h2>3 Levels for any Size Business</h2>
      <h3> New Tech Platform Promotion for a limited time - 50% Discount for all levels</h3>
    </header>
    <div class="row">
      <div class="col-xs-6 col-md-4"> 
        
        <!--PRICE TABLE-->
        <div class="plan">
          <div class="plan-details">
            <div class="header">
              <h4>SIMPLE</h4>
            </div>
            <div class="price"> <span class="currency">kr</span><span class="price-amount">998</span><span class="period">/ 6 mths</span> </div>
            <ul class="plan-features">
              <li><span>3 </span>Keywords<i class="fa fa-check"></i></li>
              <li><span>1 </span>Top Keyword<i class="fa fa-check"></i></li>
              <li>No logo<i class="fa fa-times"></i></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="buy-button"><a class="btn" href="#">SIGNUP</a>
          </div>
        </div>
        <!--PRICE TABLE END--> 
        </div>
        <div class="col-xs-6 col-md-4"> 
        <!--PRICE TABLE-->
        <div class="plan">
          <div class="plan-details">
            <div class="header">
              <h4>PROFESSIONAL</h4>
            </div>
            <div class="price"> <span class="currency">kr</span><span class="price-amount">1998</span><span class="period">/ 6 mths</span> </div>
            <ul class="plan-features">
              <li><span>50 </span>Keywords<i class="fa fa-check"></i></li>
              <li><span>10 </span>Top Keywords<i class="fa fa-check"></i></li>
              <li>Full logo and rich content<i class="fa fa-check"></i></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="buy-button"><a class="btn" href="#">SIGNUP</a>
          </div>
        </div>
</div>
<div class="col-xs-6 col-md-4"> 
        <div class="plan">
          <div class="plan-details">
            <div class="header">
              <h4>ADVANCED</h4>
            </div>
            <div class="price"> <span class="currency">kr</span><span class="price-amount">3998</span><span class="period">/ 6 mths</span> </div>
            <ul class="plan-features">
              <li><span>Unlimited </span>Keywords<i class="fa fa-check"></i></li>
              <li><span>50 </span>Top Keywords<i class="fa fa-check"></i></li>
              <li>Full logo and rich content<i class="fa fa-check"></i></li>
              <li>Extra setup support<i class="fa fa-check"></i></li>
            </ul>
          </div>
          <div class="buy-button"><a class="btn" href="#">SIGNUP</a>
          </div>
        </div>
        <!--PRICE TABLE END--> 
        
      </div>
    </div>
  </div>
</section>

<section class="cta-section section-spacing text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p style="font-style: italic">“Personal calls with active follow-ups with good advice! I'm left with a feeling of valuable help by someone that is far more knowledgeable than me in terms of internet marketing.”</p>
      </div>
    </div>
  </div>
</section>