<section class="reviews section-spacing" id="reviews">
  <div class="container">
    <header class="section-header text-center">
      <h2>Reviews From Our Users</h2>
      <h3>What our users are saying about the product</h3>
    </header>
    <div class="row">
      <div class="col-sm-4"> 
        
        <!--review 1-->
        
        <figure class="text-center"><%= image_tag 'review-1.jpg', alt: "face", class: "img-circle" %> </figure>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, repellat, voluptatem eveniet et illum itaque excepturi repudiandae officiis quibusdam deleniti. </p>
          <cite>— Ashley Doe, CEO Abc Organisation</cite> </blockquote>
        
        <!--review 1 end--> 
        
      </div>
      <div class="col-sm-4"> 
        
        <!--review 2-->
        
        <figure class="text-center"><%= image_tag 'review-2.jpg', alt: "face", class: "img-circle" %> </figure>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, repellat, voluptatem eveniet et illum itaque excepturi repudiandae officiis quibusdam deleniti. </p>
          <cite>— John Doe, CEO Abc Organisation</cite> </blockquote>
        
        <!--review 2 end--> 
        
      </div>
      <div class="col-sm-4"> 
        
        <!--review 3-->
        
        <figure class="text-center"><%= image_tag 'review-3.jpg', alt: "face", class: "img-circle" %> </figure>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, repellat, voluptatem eveniet et illum itaque excepturi repudiandae officiis quibusdam deleniti. </p>
          <cite>— Michael Doe, CEO Xyz Organisation</cite> </blockquote>
        
        <!--review 3 end--> 
        
      </div>
    </div>
  </div>
</section>