<section class="team section-spacing text-center" id="team">
  <div class="container">
    <header class="section-header">
      <h2>Will you join us?</h2>
      <h3>We are constantly expanding and need more skilled workers!</h3>
    </header>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-details">
          <figure><%= image_tag 'team-1.jpg', alt: "Team Member" %>
          </figure>
          <div class="team-info">
            <h4>Sales Konsult New sales</h4>
            <h5>Telemarketing of our different products to new customers in the business.</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-details">
          <figure><%= image_tag 'team-2.jpg', alt: "Team Member" %>
          </figure>
          <div class="team-info">
            <h4>Sales Consulting Portfolio</h4>
            <h5>Manage and build relationships with existing customers</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-details">
          <figure><%= image_tag 'team-3.jpg', alt: "Team Member" %>
          </figure>
          <div class="team-info" >
            <h4>Sales Consulting Fields</h4>
            <h5>Be Bedriftsøket's public face</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
