<section class="video-tour text-center">
  <div class="play-btn"> <a href="https://vimeo.com/109054393" class="play litebox-tour"><%= image_tag 'play-btn-vs.png', alt: "play" %></a>
    <h2>Video Preview Of Product</h2>
  </div>
  
  <!--HTML5 Video-->
  
  <video autoplay loop muted id="bgvid" poster="videos/poster.jpg">
    <source src="videos/vb.mp4" type="videos/mp4">
    <source src="videos/vb.webm" type="videos/webm">
  </video>
  <!--HTML5 Video end--> 
  
</section>

<!--Video section end--> 

<!--Tour-->
